body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#canvas {
  background-image: url("../sprites/flappybirdbg.png");
  border: 2px solid black;
  margin-bottom: 20px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 16px;
}
